<nav class="navbar navbar-light">
  <div class="container-fluid px-4 px-md-5">
    <%= link_to 'fabien hoarau', root_path, class: 'navbar-brand clash-font blue-font' %>

    <ul class="navbar-nav ms-auto d-flex flex-row">
      <li class="nav-item me-3">
        <%= link_to 'bio', bio_path, class: 'nav-link clash-font blue-font' %>
      </li>
      <li class="nav-item">
        <%= link_to 'contact', contact_path, class: 'nav-link clash-font blue-font' %>
      </li>
    </ul>
  </div>
</nav>
