<nav class="navbar">
  <div class="container-fluid px-4 px-md-5">
    <%= link_to 'fabien hoarau', root_path,
      class: "blue-txt-courant #{'fw-bold' if current_page?(root_path)}" %>

    <ul class="ms-auto d-flex flex-row">
      <li class="nav-item me-3 me-md-5">
        <%= link_to 'bio', bio_path,
          class: "blue-txt-courant #{'fw-bold' if current_page?(bio_path)}" %>
      </li>

      <li class="nav-item ms-3 ms-md-5">
        <%= link_to 'contact', contact_path,
          class: "blue-txt-courant #{'fw-bold' if current_page?(contact_path)}" %>
      </li>
    </ul>
  </div>
</nav>
