

<div class="container">

<h1 class="text-center my-4">Bienvenue sur RailsFolio</h1>

<div class="alert alert-primary" role="alert">
  Bootstrap fonctionne correctement !
</div>

<div class="text-center mt-3">
  <button type="button" class="btn btn-success">
    Tester Bootstrap
  </button>
</div>

<!-- nouveau bloc avec fond bleu -->
<div class="blue-background text-white p-4 mt-4">
  Ceci est un bloc avec un fond bleu !
</div>

<div class="text-center mt-3">
  <button type="button" class="btn-test">
    Bouton de test SCSS
  </button>
</div>

</container>
