<div class="container-fluid px-4 px-md-5 my-4">
  <h1 class="text-start my-4 clash-font blue-font">Creative<br>Developer</h1>
  <h1 class="text-end my-5 clash-font blue-font">Fabien<br>Hoarau</h1>

  <div class="cards">

    <div class="project-card video-card">
      <%= video_tag "slides_logo_anim.mp4",
          autoplay: true,
          muted: true,
          loop: true,
          class: "video-bg" %>
      <a href="/projects/1" class="d-block text-decoration-none h-100">
        <div class="card-content">
          <h3 class="mb-2"></h3>
        </div>
      </a>
    </div>

    <div class="project-card video-card">
      <%= video_tag "macval-logo-anim.mp4",
          autoplay: true,
          muted: true,
          loop: true,
          class: "video-bg" %>
      <a href="/projects/1" class="d-block text-decoration-none h-100">
        <div class="card-content">
          <h3 class="mb-2"></h3>
        </div>
      </a>
    </div>

  </div>
</div>
