<div class="container-fluid px-4 px-md-5 my-4">
  <strong class="d-block text-start my-5 clash-font blue-font-title">/La Colline</strong>

  <div class="row">
    <div class="col-12 col-md-8 mb-5">
      <p class="blue-txt-courant">
        Les formes modernes et épurées
        présentes sur l’étiquette évoquent
        la manière de produire l’huile
        d’olive via des illustrations
        simples et linéaires. Le cheval
        quant à lui symbolise la fertilité
        et la prospérité.
        Le code couleur fait référence
        aux inspirations méditerranéennes.
      </p>
    </div>
  </div>

  <div class="full-width-card my-5">
    <div class="card-content">
      <%= image_tag 'lacolline/banniere.jpg',
            alt: 'Urban Poster Mockup',
            class: 'img-fluid' %>
    </div>
  </div>

  <div class="cards my-5">
     <div class="project-card d-block text-decoration-none h-100 video-card">
      <%= image_tag 'lacolline/mobile2.jpeg', alt: 'Catalogue animation', class: 'img-fluid w-100 h-100 object-fit-cover' %>
    </div>
     <div class="project-card d-block text-decoration-none h-100 video-card">
      <%= image_tag 'lacolline/Glass_Oil_Bottle_2.jpeg', alt: 'Catalogue animation', class: 'img-fluid w-100 h-100 object-fit-cover' %>
    </div>
  </div>

  <div class="full-width-card my-5">
    <div class="card-content">
      <%= image_tag 'lacolline/laptop1.jpg',
            alt: 'Urban Poster Mockup',
            class: 'img-fluid' %>
    </div>
  </div>
  
</div>
