<div class="container-fluid px-4 px-md-5 my-4">
  <strong class="d-block text-start my-5 clash-font blue-font-title">/Mango</strong>

  <div class="row">
    <div class="col-12 col-md-8 mb-5">
      <p class="blue-txt-courant">
        Le nouveau logo de Mango Edition a pour principal objectif de traduire le renouveau à travers le cycle.<br>
        Le logo circulaire est impactant, reconnaissable et mémorisable pour tous.<br>
        Le cercle symbolise l’unité et la régularité de la marque.
        </p>
    </div>
  </div>

  <div class="cards my-5">
    <div class="project-card d-block text-decoration-none h-100"
         style="background-image: url(<%= asset_path 'mango/logomango2.gif' %>); background-size: cover; background-position: center;">
    </div>

    <div class="project-card d-block text-decoration-none h-100 video-card">
      <%= image_tag 'mango/carte.jpeg', alt: 'Catalogue animation', class: 'img-fluid w-100 h-100 object-fit-cover' %>
    </div>
  </div>
  <div class="cards my-5">
    <div class="project-card d-block text-decoration-none h-100"
         style="background-image: url(<%= asset_path 'mango/livre-1.jpg' %>); background-size: cover; background-position: center;">
    </div>

    <div class="project-card d-block text-decoration-none h-100 video-card">
      <%= image_tag 'mango/livre-2.jpeg', alt: 'Catalogue animation', class: 'img-fluid w-100 h-100 object-fit-cover' %>
    </div>
  </div>
</div>
