<h2>Message reçu via ton portfolio</h2>

<p><strong>Nom :</strong> <%= @name %></p>
<p><strong>Email :</strong> <%= @email %></p>
<p><strong>Message :</strong></p>
<p><%= simple_format(@message) %></p>
