@font-face {
  font-family: 'clashDisplay-Variable';
  src: url(asset-path('clashDisplay-Variable.woff2')) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.clash-font {
  font-family: 'ClashDisplay-Regular', sans-serif;
}

.blue-font-title {
  color: #0009B8;
  font-size: 2rem;

  @include respond-to(md) {
    font-size: 5rem;
  }
  @include respond-to(lg) {
    font-size: 8rem;
  }
}
.blue-font-sous-titre {
  color: #0009B8;
  font-size: 1rem;

  @include respond-to(md) {
    font-size: 3rem;
  }
  @include respond-to(lg) {
    font-size: 5rem;
  }
}

.blue-txt-title h2 {
  color: #0009B8;
}

.blue-txt-courant {
  color: #0009B8;
}

// Réduire l'interligne sur tes titres h1
h1.clash-font {
  line-height: 0.8;  // ex : 1 = hauteur de ligne égale à la taille de la fonte
}

.bio-left-col h2.clash-font {
  font-size: 2rem;

  @include respond-to(md) {
    font-size: 3rem;
  }

  @include respond-to(lg) {
    font-size: 4rem;
  }
}
