.home-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // // remplacez les 4 valeurs ci-dessous selon vos besoins
  // @include gap-responsive(
  //   2rem,    // mobile ‹576px
  //   4rem,    // sm ≥576px
  //   6rem,    // md ≥768px
  //   8rem     // lg ≥992px
  // );
}

.home-links a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

// // anime line-bottom
// .home-links a::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: -4px;    /* espace entre le texte et la ligne */
//   width: 0;
//   height: 2px;     /* épaisseur de la ligne */
//   background-color: currentColor;
//   transition: width 0.3s ease;
// }

.home-links a:hover {
  color: #00ff3c;             /* vert au survol */
}

.home-links a:hover::after {
  width: 100%;
}
