.home-section {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // // remplacez les 4 valeurs ci-dessous selon vos besoins
  // @include gap-responsive(
  //   2rem,    // mobile ‹576px
  //   4rem,    // sm ≥576px
  //   6rem,    // md ≥768px
  //   8rem     // lg ≥992px
  // );
}

.home-links a {
  position: relative;
  padding: 0.25rem 1.8rem;            // espace intérieur augmenté
  margin: 0 0.5rem;                   // marge horizontale entre les liens
  border-radius: 5rem;          // ajouté
  text-decoration: none;
  transition: color 0.3s ease,
              background-color 0.3s ease;
}

.home-links a:hover {
  background-color: $primary;        // fond jaune (votre primary)
  color: $dark !important;           // texte noir
}

.home-links a:hover::after {
  width: 120%;
}

.home-bg {
  background-image: image-url('home-back.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
