$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond-to($break) {
  $min-width: map-get($breakpoints, $break);
  @if $min-width {
    @media (min-width: $min-width) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$break}` non trouvé dans $breakpoints.";
  }
}

/// mixin pour gap responsive
@mixin gap-responsive($base, $sm, $md, $lg) {
  gap: $base;             // <576px

  @include respond-to(sm) {
    gap: $sm;             // ≥576px
  }
  @include respond-to(md) {
    gap: $md;             // ≥768px
  }
  @include respond-to(lg) {
    gap: $lg;             // ≥992px
  }
}
