@import "bootstrap";
@import "components/index";
@import "clash-display";
// @import "custom";


body {
  font-family: 'ClashDisplay-Regular', sans-serif;
}

.blue-background {
  background-color: blue !important;
}

.container {
  background-color: aquamarine;
}
