@import "bootstrap";
@import "components/index";
@import "clash-display";
// @import "custom";

body {
  font-family: 'ClashDisplay-Medium', sans-serif;
  background-color: #FFF4E9;        // couleur unie
}

.bio-page {
  min-height: 90vh;            // la page fait toute la hauteur
  display: flex;                // mode flex en colonne
  flex-direction: column;
}

// // ------ override mobile navbar ------
// @media (max-width: 576px) {
//   nav.navbar.navbar-light .navbar-brand.clash-font {
//     font-size: 4rem !important;  // augmente très fort
//   }
//   nav.navbar.navbar-light .navbar-nav .nav-link {
//     font-size: 2.5rem !important;
//   }
// }
